@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298); /* Updated background gradient */
}

.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background: linear-gradient(135deg, #e0eafc, #cfdef3); /* Updated navigation gradient */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.navigation ul {
    display: flex;
    width: 350px;
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: all 0.8s;
    color: #222321;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    font-weight: 600;
    color: #000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    background: linear-gradient(135deg, #35c7e8, #b767df, #fff); /* Gradient colors */
    border-radius: 50%;
    border: 6px solid #fff; /* White border */
    box-shadow: 0 0 10px rgba(201, 110, 110, 0.3); /* Soft white shadow */
    transition: all 0.8s;
}

.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 transparent; /* Dark shadow */
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 transparent;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
